@model RedStore_Mvc.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h2></h2>
<ul>
    <li>@Model.Name</li>
    <li>@Model.BirthDate</li>
</ul>