@model IEnumerable<RedStore_Mvc.Models.Movies>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Movies</h1>
@Html.ActionLink("New Movie","New","Movies",new {@class="btn btn-primary"})
<br /><br />
    <table id="movies" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#movies").dataTable({
                ajax: {
                    url: "/api/movie",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, movie) {
                            return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function(id) {
                            return "<button class='btn-link js-delete' data-movies-id=" + id + ">Delete</button>";
                        }
                    }
                    ]
            });




            //for deleting the movies using api 
            $("#movies").on("click",".js-delete",   //to use table movies and use the button
                function () {
                    var button = $(this);
                    bootbox.confirm("Are You Sure You Want To Delete This Movie??",  //bootbox using
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/movie/" + button.attr("data-movies-id"), //api path and getting  movie id from respected buttons 
                                    method: "DELETE",   
                                    success: function() {
                                        button.parents("tr").remove();  //deleteing the tr row of table
                                    }
                                });

                            }
                        });
                });
        });
    </script>
}
