@model IEnumerable<RedStore_Mvc.Models.Movies>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Movies</h1>
<br /><br />
    <table id="movies" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#movies").dataTable({
                ajax: {
                    url: "/api/movie",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genre.name"
                    }
                    ]
            });
        });
    </script>
}
